<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="start">
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="people-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-col *ngFor="let message of messages">
      <ion-row *ngIf="message.creator === this.currentUser.userId" class="ion-justify-content-end">
        <ion-col>
          <ion-row class="ion-justify-content-end">
            <ion-card class="currentUserMsg">
              <ion-card-content>
                <ion-row class="ion-justify-content-start">
                  <p><strong>{{message.creatorName}}</strong></p>
                </ion-row>
                <ion-row class="ion-justify-content-start">
                  <p>{{message.message}}</p>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-row>
          <ion-row class="ion-justify-content-end">
            <p style="margin-right: 20px; font-size: 12px">{{message.date | date: 'dd.MM.yyyy HH:mm'}}</p>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="message.creator !== this.currentUser.userId" class="ion-justify-content-start">
        <ion-col>
          <ion-row class="ion-justify-content-start">
            <ion-card class="chatUserMsg">
              <ion-card-content>
                <ion-row class="ion-justify-content-start">
                  <p><strong>{{message.creatorName}}</strong></p>
                </ion-row>
                <ion-row class="ion-justify-content-start">
                  <p>{{message.message}}</p>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-row>
          <ion-row class="ion-justify-content-start">
            <p style="margin-left: 20px; font-size: 12px">{{message.date | date: 'dd.MM.yyyy HH:mm'}}</p>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-col size="2">
        <ion-buttons>
          <ion-button disabled="true">
            <ion-icon name="document-outline" slot="icon-only" style="color: #ff8766"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="8">
        <ion-textarea autoGrow="true" class="message-input" rows="1" maxlength="500" [(ngModel)]="newMsg" (keyup.enter)="sendMessage(newMsg)"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" [disabled]="newMsg === ''" (click)="sendMessage(newMsg)">
          <ion-icon name="send-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
