<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="start">
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{pageTitle}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="people-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

    </ion-row>
  </ion-grid>
</ion-content>
