<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="start">
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{pageTitle}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="people-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row *ngFor="let message of messages">
      <ion-col size="9" [offset]="">
        <ion-card>
          <ion-card-header>
            {{message.creatorName}}
          </ion-card-header>
          <ion-card-content>
            {{message.message}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-col size="2">
        <ion-buttons>
          <ion-button>
            <ion-icon name="document-outline" slot="icon-only" style="color: #ff8766"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="8">
        <ion-textarea autoGrow="true" class="message-input" rows="1" maxlength="500" [(ngModel)]="newMsg"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" [disabled]="newMsg === ''" (click)="sendMessage(newMsg)">
          <ion-icon name="send-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
