<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon size="large" style="zoom: 0.8" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profil bearbeiten</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updateUser()">
        <ion-icon size="large" style="zoom: 0.8" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <ion-avatar>
          <img
            *ngIf="displayUrl.includes('.png') || displayUrl.includes('googleusercontent'); else noNeed"
            alt="User avatar"
            src="{{displayUrl}}" />
          <ng-template #noNeed>
            <img alt="User avatar" src="{{displayUrl | fireStorageImg: '/avatars' | async}}" />
          </ng-template>
        </ion-avatar>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="fileUpload" size="auto">
        <ion-input
          id="photoInput"
          type="file"
          (change)="uploadAvatar($event)"
          accept=".png,.jpg"
          multiple="false"></ion-input>
        <label class="myFakeUploadButton" for="photoInput">Profilbild ändern</label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Vorname</ion-label>
          <ion-input [(ngModel)]="firstName"> </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Nachname</ion-label>
          <ion-input [(ngModel)]="lastName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Benutzername</ion-label>
          <ion-input [(ngModel)]="userName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Sprachen*</ion-label>
          <ion-select [(ngModel)]="languages" multiple="true">
            <ion-select-option *ngFor="let allLanguage of allLanguages; let i = index"
              >{{allLanguage.name}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Beschreibung</ion-label>
          <ion-textarea [(ngModel)]="description"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
