h {
  font-size: 4vh;
}
p {
  font-size: 2vh;
}
ion-title {
  --ion-font-family: 'Yeseva One';
  font-family: "Yeseva One", cursive;
  font-size: 4vw;
}
ion-content {
  --ion-font-family: 'Signika Negative';
  font-family: 'Signika Negative', sans-serif;
}
#eventSaveAndDraft {
  background-color: white;
}
ion-row {
  width: content-box;
}
ion-content {
  height: 100%;
}
ion-item {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid white;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-content: start;
}
ion-input {
  padding: 2px;
  --placeholder-color: grey;
  --placeholder-font-family: "Roboto", sans-serif;
  --placeholder-font-style: italic;
  --placeholder-font-size: 2vmin;
}
ion-label {
  font-size: 2vh;
}
ion-textarea {
  --placeholder-color: grey;
  --placeholder-font-family: "Roboto", sans-serif;
  --placeholder-font-style: italic;
  --placeholder-font-size: 2vmin;
}
ion-col {
  padding: 10px;
  max-height: max-content;
}
ion-img {
  width: auto;
  height: auto;
}
#eventDraftBtn, #eventPublishBtn {
  font-size: 2.5vh;
}
#photoInput {
  font-size: 2vh;
}
#eventSaveAsDraftBtnCol, #eventPublishBtnCol {
  padding: 5px;
}
#photoPreview {
  padding: 20px;
}
