<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Event erstellen</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <form [formGroup]="createEventForm">
      <ion-list lines="full">
        <ion-row>
          <ion-item>
            <ion-label position="stacked">Event Name*</ion-label>
            <ion-input class="ion-text-start" formControlName="eventName" [(ngModel)]="eventName"></ion-input>
          </ion-item>
          <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
             *ngIf="errors.get('eventName')">
            {{errors.get('eventName')}}
          </p>
        </ion-row>

        <ion-row>
          <ion-item button="true" id="open-date-input">
            <ion-label position="stacked">Datum & Uhrzeit*</ion-label>
            <ion-input placeholder="z.B. 'Sat, 06-07-2022 18:00' ">{{ eventDate | date:'EEE, dd-MM-yyyy H:mmZ' }}</ion-input>
            <ion-popover trigger="open-date-input" show-backdrop="false">
              <ng-template>
                <ion-datetime formControlName="eventDate"
                              [(ngModel)]="eventDate"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
          <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
             *ngIf="errors.get('eventDate')">
            {{errors.get('eventDate')}}
          </p>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label position="stacked">Beschreibung*</ion-label>
            <ion-textarea formControlName="eventBio" [(ngModel)]="eventBio" placeholder="Das Event ist..."></ion-textarea>
          </ion-item>
          <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
             *ngIf="errors.get('eventBio')">
            {{errors.get('eventBio')}}
          </p>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label position="stacked">Adresse*</ion-label>
            <ion-input formControlName="street" type="text" placeholder="Straße" [(ngModel)]="street"></ion-input>
            <ion-input formControlName="house" type="text" placeholder="Hausnummer" [(ngModel)]="house"></ion-input>
            <ion-input formControlName="zipCode" type="number" placeholder="PLZ" [(ngModel)]="zipCode"></ion-input>
            <ion-input formControlName="city" type="text" placeholder="Ort" [(ngModel)]="city"></ion-input>
          </ion-item>
          <p class="ion-text-end ion-padding-end" placeholder="z.B. 'Musik', 'Essen & Trinken' etc." style="color:var(--ion-color-danger)"
             *ngIf="errors.get('eventAddress')">
            {{errors.get('eventAddress')}}
          </p>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label position="stacked">Preis*</ion-label>
            <ion-input formControlName="price" placeholder="Gebe 0 für kostenlos ein." [(ngModel)]="price"></ion-input>
          </ion-item>
          <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
             *ngIf="errors.get('price')">
            {{errors.get('price')}}
          </p>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label position="stacked">Max. Teilnehmeranzahl*</ion-label>
            <ion-input formControlName="maxParticipants" placeholder="z.B. 20" type="number" min="0" [(ngModel)]="maxParticipants"></ion-input>
          </ion-item>
          <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
             *ngIf="errors.get('maxParticipants')">
            {{errors.get('maxParticipants')}}
          </p>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label position="stacked">Kategorien*</ion-label>
            <ion-select formControlName="selectedCategories" [(ngModel)]="selectedCategories" multiple="true">
              <ion-select-option *ngFor="let categorie of categories; let i = index">{{categorie}}</ion-select-option>
            </ion-select>
          </ion-item>
          <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"
             *ngIf="errors.get('categories')">
            {{errors.get('categories')}}
          </p>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label position="stacked">Foto</ion-label>
            <ion-input type="file" (change)="uploadPhoto($event)" accept=".png,.jpg" multiple="false"></ion-input>
            <p *ngIf="uploadStatus">... wird hochgeladen</p>
          </ion-item>
          <ion-item *ngFor="let photo of photoUploads; index as position">
            <ion-img [src]="photo"></ion-img>
          </ion-item>
        </ion-row>

      </ion-list>
    </form>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row id="eventSaveAndDraft">
    <ion-col class="ion-text-center">
      <p button id="eventDraftBtn" (click)="saveEventAsDraft()">
        Entwurf speichern
      </p>
    </ion-col>
    <ion-col>
      <ion-button class="ion-padding-horizontal" id="eventSaveBtn" expand="block" (click)="addEvent()">
        Veröffentlichen
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
