ion-content {
  // overwrite inline styles
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  text-transform: none !important;
  letter-spacing: normal !important;
  font-family: Agrandir-Regular, serif !important;
  &::-webkit-scrollbar {
    display: none;
  }
}


ion-button, ion-label {
  text-transform: none !important;
  letter-spacing: normal !important;
}

#notneeded{
  display: block;
}
