<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="start">
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="share-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Event image -->
    <ion-row>
      <div class="img-div">
        <ion-img src="{{event.photoURLs[0] | fireStorageImg: '/event-photos' | async }}"></ion-img>
      </div>
    </ion-row>

    <ion-row class="ion-justify-content-start">
      <h1>{{event.name}}</h1>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>
          <ion-icon name="calendar-outline"></ion-icon>
          {{event.eventDate | date: 'dd.MM.yyyy'}}
        </p>
      </ion-col>
      <ion-col>
        <p>
          <ion-icon name="time-outline"></ion-icon>
          {{event.eventDate | date: 'H:mm'}}
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="information">
          <ion-label>Informationen</ion-label>
        </ion-segment-button>
        <ion-segment-button value="participants">
          <ion-label
            >Teilnehmer*Innen ({{event.participants.length}}/{{event.maxParticipants}})</ion-label
          >
        </ion-segment-button>
      </ion-segment>
    </ion-row>

    <!-- Event Information Segment -->
    <div class="segment-divs" *ngIf="segment === 'information'">
      <ion-row class="ion-justify-content-start">
        <h2>Beschreibung</h2>
        <p>{{event.bio}}</p>
      </ion-row>

      <ion-row class="ion-justify-content-start">
        <h2>Standort</h2>
        <br />
        <p>
          {{event.address['street']}} {{event.address['house']}}, {{event.address['zipCode']}}
          {{event.address['city']}}
        </p>
      </ion-row>
      <ion-row class="ion-justify-content-start">
        <h2>Kommentare</h2>
      </ion-row>
    </div>

    <!-- Participants Segment -->
    <div class="segment-divs" *ngIf="segment === 'participants'">
      <ion-list>
        <ion-item class="ion-text-justify" *ngIf="event.participants.length === 0">
          <p>Nehme als Erste(r) an dem Event teil!</p>
        </ion-item>
        <ion-item *ngFor="let participant of participants">
          <ion-row
            class="ion-justify-content-center"
            [routerLink]="['/profile/' + participant.userId]">
            <ion-col size="5">
              <div class="profile-div">
                <ion-img
                  class="profile-img"
                  src="{{participant.photoUrl | fireStorageImg: '/avatars' | async }}"></ion-img>
              </div>
            </ion-col>
            <ion-col size="4">
              <p>{{participant.firstName}} {{participant.lastName}}</p>
            </ion-col>
            <ion-col size="3">
              <ion-buttons class="chat-btn">
                <ion-button slot="end">
                  <ion-icon name="chatbubble-ellipses-outline" size="small"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>
  </ion-grid>
</ion-content>

<ion-footer class="ion-justify-content-center">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center" id="eventSaveAsDraftBtnCol" size-sm="6">
        <h2 *ngIf="this.eventService.freeEvent(event)"><strong>{{event.price}}€/Ticket</strong></h2>
        <h2 *ngIf="!this.eventService.freeEvent(event)"><strong>{{event.price}}</strong></h2>
      </ion-col>
      <ion-col class="ion-text-center" size-sm="6">
        <ion-button id="eventPartakeBtn" (click)="attendEvent(event)">
          <p>Teilnehmen</p>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
