<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-buttons>
          <ion-col>
            <ion-button (click)="router.navigate(['event-list'])">
              <ion-icon *ngIf="currentPage === '/event-list'; else not_home" slot="icon-only" name="home"></ion-icon>
              <ng-template #not_home>
                <ion-icon slot="icon-only" name="home-outline"></ion-icon>
              </ng-template>
            </ion-button>
          </ion-col>
          <ion-col >
            <ion-button>
                <!--TODO: See if URL fits-->
              <ion-icon *ngIf="currentPage === '/search-event'; else not_search" slot="icon-only" name="search"></ion-icon>
              <ng-template #not_search>
                <ion-icon slot="icon-only" name="search-outline"></ion-icon>
              </ng-template>
            </ion-button>
          </ion-col>
          <ion-col >
            <ion-button>
              <!--TODO: See if URL fits-->
              <ion-icon *ngIf="currentPage === '/qr-code'; else not_qr_code" slot="icon-only" name="qr-code"></ion-icon>
              <ng-template #not_qr_code>
                <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon>
              </ng-template>
            </ion-button>
          </ion-col>
          <ion-col >
            <ion-button>
              <!--TODO: See if URL fits-->
              <ion-icon *ngIf="currentPage === '/chat'; else not_chat" slot="icon-only" name="chatbubble-ellipses"></ion-icon>
              <ng-template #not_chat>
                <ion-icon slot="icon-only" name="chatbubble-ellipses-outline"></ion-icon>
              </ng-template>
            </ion-button>
          </ion-col>
          <ion-col >
            <!--TODO: See if URL fits, change navigate url-->
            <ion-button (click)="router.navigate(['edit-user'])">
              <ion-icon *ngIf="currentPage  === '/profile'; else not_profile" slot="icon-only" name="person"></ion-icon>
              <ng-template #not_profile>
                <ion-icon slot="icon-only" name="person-outline"></ion-icon>
              </ng-template>
            </ion-button>
          </ion-col>
        </ion-buttons>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
