<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-searchbar placeholder="Suchen">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button id="favoriteListButton">
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list>
      <ion-col>
        <ion-row>
          <ion-item button *ngFor="let event of events">
            <ion-col size="4">
              {{event.photoURLs}}
            </ion-col>
            <ion-col size="8">
              <ion-row>
                <h3>{{event.name}}</h3>
                <ion-buttons>
                  <ion-button slot="end">
                    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
                  </ion-button>
                  <ion-button slot="end">
                    <ion-icon slot="icon-only" name="share-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-row>
              <ion-row>
                {{event.eventDate | date: 'dd.MM.yyyy H:mm'}}
                <br>
              </ion-row>
            </ion-col>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-list>
  </ion-grid>
</ion-content>
