<ion-content>
  <ion-list>
    <ng-container *ngFor="let notification of notificationService.notificationsSorted">
      <ion-item
        lines="full"
        [button]="true"
        [detail]="false"
        [routerLink]="['/profile/' + notification.senderId]">
        <!--<ion-buttons slot="end" (click)="notificationService.removeNotification(notification.notificationId)">
            <ion-icon  size="small" style="zoom:0.8; position:absolute;" name="close-outline"></ion-icon>
          </ion-buttons>
          -->
        <ion-label *ngIf="notification">
          <h2 *ngIF="notification.senderName; else placeholderTitle">
            {{ notification.senderName }}
          </h2>
          <ng-template #placeholderTitle>
            <h2>Freundschaftsanfrage</h2>
          </ng-template>
          <p>{{ notification.content }}</p>
          <ng-container *ngIf="notification.type == 3">
            <ion-button slot="start" (click)="acceptFriendRequest(notification)">
              <ion-icon size="large" style="zoom: 0.8" name="checkmark-outline"></ion-icon>
            </ion-button>
            <ion-button
              slot="end"
              (click)="notificationService.removeNotification(notification.notificationId)">
              <ion-icon size="large" style="zoom: 0.8" name="close-outline"></ion-icon>
            </ion-button>
          </ng-container>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
