<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Nachrichten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tabs ion-padding">
    <ion-row>
      <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="chats">
          <ion-label>Chats</ion-label>
        </ion-segment-button>
        <ion-segment-button value="friends">
          <ion-label>Freunde</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
  </div>

  <!-- Chats Segment -->
  <div class="segment-divs" *ngIf="segment === 'chats'">
    <ion-row>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img></ion-img>
        </ion-avatar>
        <ion-label>
          <!-- Get username from chat.users -->
          <h2>User Name</h2>
        </ion-label>
        <ion-buttons>
          <ion-button>
            <ion-icon name="trash-outline" size="small"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item *ngFor="let chat of chats">
        <ion-avatar slot="start">
          <ion-img src="{{chat.photo[0] | fireStorageImg: '/avatars' | async }}"></ion-img>
        </ion-avatar>
        <ion-label>
          <!-- Get username from chat.users -->
          <h2>User Name</h2>
        </ion-label>
        <ion-buttons>
          <ion-button>
            <ion-icon name="trash-outline" size="small"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-row>
  </div>

  <!-- Friendslist Segment -->
  <div  class="segment-divs" *ngIf="segment === 'friends'">
    <ion-row>
      <p>Friends</p>
    </ion-row>
  </div>
</ion-content>
