<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <ion-item>
        <ion-input type="text" placeholder="E-Mail" [(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <ion-item>
        <ion-input type="password" placeholder="Passwort" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-evenly">
    <ion-col size="6">
      <ion-button expand="block" (click)="EmailRegister()">Registrieren</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" (click)="EmailLogin()">Anmelden</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center" style="height: 3rem;margin-top: -0.3rem;">
    <ion-col size="auto">
      <p>ODER</p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-button *ngIf="deviceIndicator != 0; else googleMobile" expand="block" (click)="GoogleLogin()">Mit Google anmelden</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-button expand="block" (click)="FacebookLogin()">Mit Facebook anmelden</ion-button>
    </ion-col>
  </ion-row>
  <!--TODO: Apple Login Button je nach Platoform-->

</ion-grid>


<ng-template #googleMobile>
  <ion-button *ngIf="deviceIndicator == 0; else googleMobile" expand="block" (click)="GoogleMobileLogin()">Mit Google anmelden</ion-button>
</ng-template>

<ng-template #facebookMobile></ng-template>
