.userBio {
  border-radius: 5px;
  border: 1px solid lightgrey;
  text-align: start;
  box-shadow: 2px 2px lightgrey;
}
.userBio p {
  margin: 3px;
}

ion-content {
  overflow-y: scroll;
  overflow-x: hidden;
  --offset-bottom: 0 !important;
  background-color: #ffffff;
}

ion-avatar {
  width: 30vw;
  height: 30vw;
}

@media (min-width: 820px) {
  ion-avatar {
    width: 15rem;
    height: 15rem;
  }
}

#logoutBtn {
  position: fixed;
  left: 0;
  bottom: 10px;
  right: 0;
}

ion-segment-button {
  --indicator-box-shadow: transparent !important;
  --background: white;
  --color: var(--ion-color-secondary);
  --background-checked: var(--ion-color-primary) !important;
  --color-checked: white;
  --indicator-color: transparent !important;
  font-family: Agrandir-Regular, serif !important;
  border-radius: 15px;
  font-weight: bold;
}
