.container {
  width: 50%;
  height: 50%;
}

capacitor-google-maps {
  display: inline-block;
  width: 135px;
  height: 200px;
}

ion-content {
  --background: none;
}

.md body, .ios body {
  --ion-background-color: none;
}
