ion-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 98%;
  min-height: 56px;
}

.sendBtn {
  margin-right: 8px;
}

.openBtn {
  margin: 10px !important;

  @media only screen and (max-width: 600px) {
    margin: 0 !important;
  }
}
