<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profil bearbeiten</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updateUser()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <ion-avatar>
          <img alt="User avatar" src={{photoUrl}}>
        </ion-avatar>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="" size="auto">
        <a (click)="uploadAvatar()">Profilbild ändern</a>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Vorname</ion-label>
          <ion-input [(ngModel)]="firstName">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Nachname</ion-label>
          <ion-input [(ngModel)]="lastName"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Benutzername</ion-label>
          <ion-input [(ngModel)]="userName"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Sprachen</ion-label>
          <ion-input [(ngModel)]="languages"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Beschreibung</ion-label>
          <ion-textarea [(ngModel)]="description"
          ></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
