<ion-content>
  <ion-list>
    <ng-container *ngFor="let notification of notifications">
      <ion-item [button]="false" [detail]="false">
        <ion-label>
          <h2>{{notification.senderId}}</h2>
          <p>{{notification.content}}</p>
          <ion-button slot="start">
            <ion-icon  size="large" style="zoom:0.8" name="checkmark-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end">
            <ion-icon size="large" style="zoom:0.8" name="close-outline"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>

