ion-header {
  background-color: transparent;
}
h1 {
  font-size: 3.5vw;
  font-weight: bold;
  font-family: "Yeseva One", cursive;
}
h2 {
  font-size: 3vw;
}
h3 {
  font-size: 2.5vw;
}
p {
  font-size: 2vw;
}
ion-label {
  font-size: 3vw;
}
ion-row {
  justify-content: center;
  margin: 0;
}
.segment-divs {
  margin: 5px;
}
.img-div {
  width: 100%;
  height: 40vh;
}
ion-img {
  width: 100%;
  height: 100%;
  position: center;
  object-fit: cover;
}
#eventPartakeBtn {
  height: 4vw;
  justify-content: center;
}
