.loginDiv{
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  border: 2px solid #FF8766;
  border-radius: 5px;
}

.JuntosWrtingCol{
  height: 2.5em !important;
  text-align: center;
}
.JuntosWritng{
  margin-top: -0.6rem;
  font-family: Twister, cursive !important;
  font-size: 2em;
  align-self: center;
}

ion-content {
  &::-webkit-scrollbar {
    display: none;
  }
}

ion-label{
  font-family: Agrandir-Regular, serif !important;
}


ion-segment-button {
  --indicator-box-shadow: transparent!important;
  --background:white;
  --color: var( --ion-color-secondary);
  --background-checked: var(--ion-color-primary)!important;
  --color-checked: black;
  --indicator-color : transparent!important;
  font-family: Agrandir-Regular, serif !important;
}
