<ng-container *ngIf="userLoaded">

  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="user.userName else firstNameProfileTitle">{{user.userName}}</ion-title>
      <ion-buttons slot="end" *ngIf="ownProfile" (click)="openNotifications($event)">
        <ion-icon size="large" style="zoom:0.8" name="notifications-outline"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" *ngIf="followFriendsIndicator !== undefined">
          <ion-icon size="large" style="zoom:0.8" [name]="followFriendsIcon" (click)="determineFollowFriendsButtonFunction({followFriendsIndicator})"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!--Titel Optionen-->
  <ng-template #firstNameProfileTitle>
    <ion-title *ngIf="user.firstName else standardProfileTitle">{{user.firstName}}</ion-title>
  </ng-template>

  <ng-template #standardProfileTitle>
    <ion-title>Profile</ion-title>
  </ng-template>


  <!-- Profil Inhalt -->
  <ion-content >
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar>
            <img *ngIf="user.photoUrl.includes('.png') || user.photoUrl.includes('googleusercontent'); else noNeed" alt="User avatar" src="{{user.photoUrl}}">
            <ng-template #noNeed>
              <img alt="User avatar" src="{{user.photoUrl | fireStorageImg: '/avatars' | async}}">
            </ng-template>
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="4" class="ion-align-self-center" style="text-align: center">
          <!-- Name unter Bild festlegen -->
          <h2 *ngIf="user.firstName else usernameCaption">{{user.firstName}}</h2>
          <ng-template #usernameCaption>
            <h2 *ngIf="user.userName" >{{user.userName}}</h2>
          </ng-template>
          <!-- weiter mit User Bio -->
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <div class="userBio">
            <p>{{user["bio"]}}</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-progress-bar value="{{socialPointsCalculated}}"></ion-progress-bar>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="loginDiv">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12">
            <ion-segment (ionChange)="switchProfileEventAndBadges($event)" value="user">
              <ion-segment-button value="events">
                <ion-label>Events</ion-label>
              </ion-segment-button>
              <ion-segment-button value="badges">
                <ion-label>{{user["socialPoints"]}} SP</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
        <ng-container [ngSwitch]="eventAndBadgesIndicator">
          <ng-container *ngSwitchCase="'events'" >
            <ion-list lines="full" class="ion-align-items-center">
              <ion-row class="ion-align-items-center" size="12" *ngFor="let event of events; let i = index">
                <ion-col class="ion-justify-content-center" size="12">
                  <app-event-item [event]="event"></app-event-item>
                </ion-col>
              </ion-row>
            </ion-list>
          </ng-container>
          <ng-container *ngSwitchCase="'badges'" >

          </ng-container>
        </ng-container>
      </ion-grid>
    </div>
  </ion-content>
</ng-container>


